code
  overflow: auto
  word-wrap:break-word

body
  font-family Roboto, sans-serif

body:lang(zh-hans)
  font-family Roboto, 'Noto Sans SC', sans-serif

body:lang(zh-hant)
  font-family Roboto, 'Noto Sans TC', sans-serif

// markdown-it-quote change style for fence.
div[class*="language-"].line-numbers-source pre{
    padding-bottom:0;
    margin-bottom:0;
}

.gist-meta-quote{
  font-size:12px;padding: 10px;overflow: hidden;color: white;border-radius: 0 0 6px 6px;
}

.gist-meta-quote a{
  float: right;color: white;text-decoration: underline;
}

// my style
.theme-default-content:not(.custom){
    max-width: 940px;
}